.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.nav-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.nav-logo {
  height: 35px;
  margin-right: 10px;
}

.nav-heading {
  font-family: roboto;
  font-size: 25px;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3vw;
}

.nav-link {
  color: #12022f;
  font-size: 20px;
  font-family: roboto;
  font-weight: bold;
  text-decoration: none;
  padding: 0 20px;
}
